.sidebarTravel {
    width: 100%;
    height: 100%;
}

.sidebarTravelChoice {
    width: 100%;
    height: 16%;
    /* font-size: 14px; */
}

.sidebarTravelChoiceX {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarTravelChoiceO {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebarTravelChoiceO > * {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarTravelChoiceO svg {
    margin-right: 8px;
}

.sidebarTravelChoice1Wrap,
.sidebarTravelChoice2Wrap,
.sidebarTravelChoice3Wrap {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebarTravelChoice1Wrap:hover svg {
    fill: #F3B664 !important;
}

.sidebarTravelChoice2Wrap:hover svg {
    fill: #F6D860 !important;
}

.sidebarTravelChoice3Wrap:hover svg {
    fill: #64CCDA !important;
}

.sidebarTravelList {
    width: 100%;
    height: 84%;
}